.services{
    background-color: #313131;
    margin-bottom: 92px;
    padding-top: 92px;
    padding-bottom: 134px;
    position: relative;
    margin-top: 116px;
}

.services-content{
    display: flex;
}

.services-elements{
    display: grid;
    max-width: 552px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 62px 62px;
    margin-top: 62px;
}

.services-elements img{
    margin-bottom: 24px;
}

.services-elements div p{
    font-size: 17px;
    font-family: 'circe';
    color: #FAFAFA;
    line-height: 20px;
}

.services-content__img{
    border-radius: 5px 0 0 0;
    position: absolute;
    right: 0;
    top: -116px;
    height: calc(100% + 116px);
    width: 38%;
    max-width: 636px;
    background-image: url('../../img/services/backgroud.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
}

.services-content__img img{
    margin-bottom: 10px;
    position: absolute;
}

.services-content__text a {
    font-size: 18px;
    color: #C6A57C;
    display: flex;
    width: fit-content;
    position: relative;
}

.services-content__text a::before {
    content: ' ';
    width: 0%;
    height: 1.5px;
    position: absolute;
    bottom: -5px;
    transition: 0.5s;
}

.services-content__text a img {
    margin-left: 8px;
}

.services-content__text a:hover::before{
    content: ' ';
    width: 100%;
    height: 1.5px;
    transition: 0.5s;
    background-color: #C6A57C;
}

.service-detail {
    margin-top: 150px;
    margin-bottom: 100px;
}

.service-detail_items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px 40px;
}

.service-detail h2{
    margin-bottom: 60px;
}

.service-detail_item-description {
    padding: 44px 20px;
    background: rgba(250, 250, 250, 0.05);
    border-radius: 0px 0px 5px 5px;
}

.service-detail_item-description p:first-child {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
}
.service-detail_item-description p:nth-child(2){
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}
.service-detail_item-description button {
    background: #C6A57C;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FAFAFA;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    font-family: 'circe';
    padding: 5px 25px;
    cursor: pointer;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}



.modal-service {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.modal-service.active {
    pointer-events: auto;
    opacity: 1;
    background: rgba(39, 39, 39, 0.3);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-service_content {
    max-width: 500px;
    padding: 20px 35px;
    background-color: #FAFAFA;
    border-radius: 5px;
}

.modal-service_content-title {
    font-size: 32px;
    color: #000000;
    margin-bottom: 20px;
    font-family: 'Manrope-Medium';
}

.modal-service_content input,textarea {
    border: none;
    background: rgba(39, 39, 39, 0.1);
    padding: 15px 24px;
    outline: none;
    font-family: 'circle';
    width: 100%;
    margin-bottom: 10px;
}
.modal-service_content button {
    background: #C6A57C;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FAFAFA;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    font-family: 'circe';
    padding: 5px 25px;
    cursor: pointer;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;

}

@media screen and (max-width: 991px) {
    .services-content__img {
        display: none;
    }

    .services-elements{
        grid-template-columns: 1fr;
        gap: 20px 0;
    }
}

@media screen and (max-width: 580px) {
    .services{
        margin-top: 0;
    }

    .services {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .services-elements{
        margin-top: 44px;
        gap: 44px 0;
    }

    .services-content__text h2{
        font-size: 32px;
    }

    .services-elements div p{
        font-size: 16px;
    }
}